<%- include("../views/partials/header.ejs") %>

<div class="container">
  <h3><%= product.name %></h3>
  <img width="250" src="<%= product.img %>" />

  <h6>$<%= product.price %></h6>
  <h6>Product Info: <%= product.description %></h6>
  <p>Available Qty: <%= product.qty %></p>
  <form method="POST" action="/buy/<%= product.id %>?_method=PUT">
    <div class="mb-3">
      <% if(product.qty>0){%>
      <label for="qty" class="form-label">Qty to Purchase</label>
      <input
        id="purchase-qty"
        type="number"
        name="qty"
        class="form-control"
        value="1"
        min="1"
      />
      <% } else { %> <% } %>
    </div>
    <div>
      <% if(product.qty>0){%>
      <input type="submit" class="btn btn-danger mb-3" value="BUY NOW" />
      <% } else { %>
      <h4>OUT OF STOCK</h4>
      <% } %>
    </div>
  </form>

  <a href="/products/<%= product.id %>/edit" class="btn btn-primary"
    >EDIT PRODUCT DETAILS</a
  >
</div>
<%- include("../views/partials/footer.ejs") %>
